* {
  background-color: transparent;
}

.profile-section {
  padding-bottom: 3em;
}

.home {
  background-color: $background_pink;
}

.home-container {
  margin: auto 3rem;
}

@media (min-width: 90rem) {
  .home-container {
    max-width: 87.5rem;
    margin: auto;
  }
}

h1 {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
}

h5 {
  font-size: 17px;
  font-family: 'IBM Plex Mono', monospace;
}

p {
  font-size: 13px;
  font-family: 'IBM Plex Mono', monospace;
}

.grey-line {
  // height: 1px;
  color: #E1D9D8;
}

.two-five-content {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 90rem) {
  .two-five-content {
    grid-template-columns: 2fr 5fr;
  }
}

.history-list {
  ul {
    list-style-type: none;
  }
}

.history-entry {
  margin: 2em 0;
}

.history-link {
  color: $link_salmon;
  a {
    margin-left: 1em;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    color: $link_salmon;
  }
  a:hover {
    text-decoration: underline;
  }
}

.education-link {
  color: $link_salmon;
  // margin-left: 1em;
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
  color: $link_salmon;
}

.education-link:hover {
  color: $link_salmon;
  text-decoration: underline;
}