<div class="profile-section" id="biography">
  <h1>Biography</h1>
  <hr class="grey-line">
  <div class="two-five-content">
    <div class="personal-info">
      <h4>PERSONAL INFO</h4>
      <p>Born and raised in the south west of England. There are cows.</p>
      <div class="address-container">
        <p id="city">Shaftesbury, Dorset</p>
      </div>
    </div>
    <div class="biography-body">
      <div class="biography-blurb">
        <p>
          I have taken the scenic route to development via various technical fields including metalworking and house building to industrial electronic systems design. This role meant interacting with various 
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi cum fuga maiores, obcaecati nemo ipsam minus repellat, earum vitae repellendus velit asperiores nostrum illo dignissimos, placeat nam vero sed?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quos similique cumque maxime vel, quis ea dolore distinctio officia, asperiores a ex optio, quas sed odio dolorum quam repellat quia.</p>
      </div>
      <div class="biography-columns">
        <div class="biography-columns-left">
          <%# <img class="biography-pictures" src="" alt="a picture of me doing something studious and intersting"> %>
          <h4>PRIMARY SKILLS</h4>
          <div class="biography-list">
            <p>- Ruby on Rails</p>
            <p>- HTML, CSS and JS</p>
            <p>- React with Redux</p>
            <p>- Svelte on SvelteKit</p>
            <p>- Heroku and AWS</p>
            <p>- SQLite and DB schema design</p>
          </div>
        </div>
        <div class="biography-columns-right">
          <%# <img class="biography-pictures" src="" alt="a picture of me doing something studious and intersting"> %>
          <h4>SECONDARY SKILLS</h4>
          <div class="biography-list">
            <p>- Strong computer aided and hand drafted design skills</p>
            <p>- Strong written and verbal communication skills</p>
            <p>- Extensive experience working with and leading teams</p>
            <p>- Photoshop and GIMP</p>
            <p>- CAD experience</p>
            <p>- Excellent problem solver</p>
            <p>- Conversational German</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>