<div class="profile-section" id="biography">
  <h1>Biography</h1>
  <hr class="grey-line">
  <div class="two-five-content">
    <div class="personal-info">
      <h4>PERSONAL INFO</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium possimus officiis, provident, quia pariatur totam eos corrupti quod unde optio natus repellat.</p>
      <div class="address-container">
        <p id="city">Shaftesbury, Dorset</p>
      </div>
    </div>
    <div class="biography-body">
      <div class="biography-blurb">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore saepe, hic amet dolore facilis, voluptatem consequuntur cupiditate molestiae consequatur assumenda itaque praesentium, quisquam nisi odio dicta expedita. Inventore, sunt excepturi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minima id quaerat obcaecati, nihil nostrum odio atque commodi? Iste eaque amet ipsa vitae quia officiis dignissimos eos libero voluptatibus rem? </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, id dicta perferendis distinctio assumenda non debitis quasi. Nihil odio earum distinctio magnam nostrum perspiciatis placeat vitae minima culpa optio! Illo.</p>
      </div>
      <div class="biography-columns">
        <div class="biography-columns-left">
          <%# <img class="biography-pictures" src="" alt="a picture of me doing something studious and intersting"> %>
          <h4>PRIMARY SKILLS</h4>
          <div class="biography-list">
            <p>- Ruby on Rails</p>
            <p>- HTML, CSS and JS</p>
            <p>- React with Redux</p>
            <p>- Svelte on SvelteKit</p>
            <p>- Heroku and AWS</p>
            <p>- SQLite and DB schema design</p>
          </div>
        </div>
        <div class="biography-columns-right">
          <%# <img class="biography-pictures" src="" alt="a picture of me doing something studious and intersting"> %>
          <h4>SECONDARY SKILLS</h4>
          <div class="biography-list">
            <p>- Strong computer aided and hand drafted design skills</p>
            <p>- Strong written and verbal communication skills</p>
            <p>- Extensive experience working with and leading teams</p>
            <p>- Photoshop and GIMP</p>
            <p>- CAD experience</p>
            <p>- Excellent problem solver</p>
            <p>- Conversational German</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>