<div class="profile-section" id="biography">
  <h1>Biography</h1>
  <hr class="grey-line">
  <div class="two-five-content">
    <div class="personal-info">
      <h4>PERSONAL INFO</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium possimus officiis, provident, quia pariatur totam eos corrupti quod unde optio natus repellat.</p>
      <p>Address line 1</p>
      <p>Address line 1</p>
      <p>City</p>
      <p>PO57 30DE</p>
    </div>
    <div class="biography-body">
      <div class="biography-blurb">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore saepe, hic amet dolore facilis, voluptatem consequuntur cupiditate molestiae consequatur assumenda itaque praesentium, quisquam nisi odio dicta expedita. Inventore, sunt excepturi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minima id quaerat obcaecati, nihil nostrum odio atque commodi? Iste eaque amet ipsa vitae quia officiis dignissimos eos libero voluptatibus rem? </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, id dicta perferendis distinctio assumenda non debitis quasi. Nihil odio earum distinctio magnam nostrum perspiciatis placeat vitae minima culpa optio! Illo.</p>
      </div>
      <div class="biography-columns">
        <div class="biography-columns-left">
          <img class="biography-pictures" src="" alt="a picture of me doing something studious and intersting">
          <h4>MAIN SKILLS</h4>
          <ul>
            <li>Filler content</li>
            <li>Filler content</li>
            <li>Filler content</li>
            <li>Filler content</li>
            <li>Filler content</li>
            <li>Filler content</li>
          </ul>
        </div>
        <div class="biography-columns-right">
          <img class="biography-pictures" src="" alt="a picture of me doing something studious and intersting">
          <h4>VALUES</h4>
          <ul>
            <li>Filler content</li>
            <li>Filler content</li>
            <li>Filler content</li>
            <li>Filler content</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>