<div class="profile-section" id="education">
  <h1>Education</h1>
  <hr class="grey-line">
  <ul class="history-list">
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Le Wagon, London</h4>
          <p>January '21 - April '21</p>
        </div>
        <div class="two-five-right">
          <h4>Full Stack Web Development Bootcamp</h4>
          <p>9-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, implemented and shipped to production a clone of AirBnB and a Rails prototype of <a href="scrapehub.xyz">ScrapeHub.xyz</a></p>
        </div>
      </div>
    </li>
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Swansea University</h4>
          <p>September '09 - July '10</p>
        </div>
        <div class="two-five-right">
          <h4>Aerospace Engineering</h4>
          <p>First year engineering degree course comprised of maths modules (engineering mechanics, fluid mechanics, thermodynamics), CAD, computer modelling and materials sciences.</p>
        </div>
      </div>
    </li>
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>King's College, Taunton</h4>
          <p>September '04 - July '08</p>
        </div>
        <div class="two-five-right">
          <h4>Lighting Design Engineer</h4>
          <p>Design & Technology</p>
          <p>Maths</p>
          <p>Physics</p>
        </div>
      </div>
    </li>
  </ul>
</div>