<div class="education">
  <h1>Education</h1>
  <hr class="grey-line">
  <ul class="history-list">
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Le Wagon, London</h4>
          <p>01/21 - 04/21</p>
        </div>
        <div class="two-five-right">
          <h4>Full Stack Web Development Bootcamp</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam porro ab et eos nihil quae fugiat. Consequuntur, voluptates nihil eos distinctio vitae, ad omnis recusandae saepe consequatur quos quaerat esse.</p>
        </div>
      </div>
    </li>
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Swansea University</h4>
          <p>09/09 - 07/10</p>
        </div>
        <div class="two-five-right">
          <h4>Aerospace Engineering, First Year</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam porro ab et eos nihil quae fugiat. Consequuntur, voluptates nihil eos distinctio vitae, ad omnis recusandae saepe consequatur quos quaerat esse.</p>
        </div>
      </div>
    </li>
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>King's College, Taunton</h4>
          <p>09/04 - 07/08</p>
        </div>
        <div class="two-five-right">
          <h4>Lighting Design Engineer</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam porro ab et eos nihil quae fugiat. Consequuntur, voluptates nihil eos distinctio vitae, ad omnis recusandae saepe consequatur quos quaerat esse.</p>
        </div>
      </div>
    </li>
  </ul>
</div>