<div class="profile-section" id="experience">
  <h1>Experience</h1>
  <hr class="grey-line">
  <ul class="history-list">
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Dextra Lighting PLC</h4>
          <p>September '17 - February '21</p>
        </div>
        <div class="two-five-right">
          <h4>Lighting Design Engineer</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam porro ab et eos nihil quae fugiat. Consequuntur, voluptates nihil eos distinctio vitae, ad omnis recusandae saepe consequatur quos quaerat esse.</p>
          <div class="history-link">
            <i class="fas fa-link"></i>
            <%= link_to "dextragroup.co.uk",  "https://www.dextragroup.co.uk/" %>
          </div>
        </div>
      </div>
    </li>
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Park Homes, Christchurch</h4>
          <p>September '16 - September '17</p>
        </div>
        <div class="two-five-right">
          <h4>Tiny House Builder</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam porro ab et eos nihil quae fugiat. Consequuntur, voluptates nihil eos distinctio vitae, ad omnis recusandae saepe consequatur quos quaerat esse.</p>
          <div class="history-link">
            <i class="fas fa-link"></i>
            <%= link_to "parkhomes.co.nz",  "https://www.parkhomes.co.nz/" %>
          </div>
        </div>
      </div>
    </li>
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Wayman Design</h4>
          <p>June '14 - September '16</p>
        </div>
        <div class="two-five-right">
          <h4>Blacksmith/Metalworker</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam porro ab et eos nihil quae fugiat. Consequuntur, voluptates nihil eos distinctio vitae, ad omnis recusandae saepe consequatur quos quaerat esse.</p>
        </div>
      </div>
    </li>
  </ul>
</div>