<div class="profile-section" id="experience">
  <h1>Experience</h1>
  <hr class="grey-line">
  <ul class="history-list">
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Dextra Lighting PLC</h4>
          <p>September '17 - February '21</p>
        </div>
        <div class="two-five-right">
          <h4>Lighting Design Engineer</h4>
          <p>Designing lighting schemes from architectural plans using CAD; working closely with contractors and engineers; designing lighting controls systems to suit each scheme; creating clear installation plans and wiring diagrams; managing small teams working on different aspects of larger projects; performing site surveys throughout the design and buidling process</p>
          <div class="history-link">
            <i class="fas fa-link"></i>
            <%= link_to "dextragroup.co.uk",  "https://www.dextragroup.co.uk/" %>
          </div>
        </div>
      </div>
    </li>
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Park Homes, Christchurch</h4>
          <p>September '16 - September '17</p>
        </div>
        <div class="two-five-right">
          <h4>Tiny House Builder</h4>
          <p>Constructing small dwellings from foundations to final finishing; liaising with the client throughout the design and build process; managing the logistics of on and off-site building</p>
          <div class="history-link">
            <i class="fas fa-link"></i>
            <%= link_to "parkhomes.co.nz",  "https://www.parkhomes.co.nz/" %>
          </div>
        </div>
      </div>
    </li>
    <li class="history-entry">
      <div class="two-five-content">
        <div class="two-five-left">
          <h4>Wayman Design</h4>
          <p>June '14 - September '16</p>
        </div>
        <div class="two-five-right">
          <h4>Blacksmith/Metalworker</h4>
          <p>Designing and building bespoke pieces both functional and ornamental; working closely with clients during the design process; managing the logistics of a small manufacturing business</p>
        </div>
      </div>
    </li>
  </ul>
</div>