<div class="footer">
  <div class="footer-container">
    <h1 class="footer-title">Footer</h1>
    <hr class="grey-line">
    <p>Made without love by Alec</p>
    <p>Add more bits here</p>
  </div>
</div>