<div class="home">
  <div class="home-container">
    <div class="banner">
      <div class="banner-content">
        <div class="left-banner-content">
          <div class="job-description">
            <h1>Full stack web dev &</h1>
            <h1>Ruby on Rails focus</h1>
            <br>
            <h5>I have done a lot of things, many of them relevant to the job I have applied for.</h5>
          </div>
          <div class="middle-left-banner">
            <div class="middle-left-left">
              <div class="introduction">
                <h4>Hello, I'm Alec</h4>
                <p>I am web developer experienced with ruby on rails, react/redux and svelte(kit).</p>
              </div>
              <div class="personal-links">
                <h4>Where to find me</h4>
                <ul>
                  <li><%= link_to "Github",  "https://github.com/W-edu" %></li>
                  <li><%= link_to "Linked In",  "https://www.linkedin.com/in/aejw" %></li>
                  <li><%= link_to "Something Else",  "/" %></li>
                </ul>
              </div>        
            </div>
            <div class="middle-left-right">
              <div class="call-to-arms-box">
                <h2>Let's work together!</h2>
                <p>I'm available at</p>
                <p>aejw@pm.me</p>
                <p>07771 771 177</p>
              </div>
            </div>      
          </div>
          <div class="hire-me-button">
            <div class="hire-me-text">
              <h4>HIRE ME NOW</h4>
            </div>
          </div>
        </div>
        <div class="right-banner-content">
          <div class="profile-picture">
            <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/c_fill,h_757,w_458/v1624310968/headshot_zwmznt.jpg" alt="profile picture">
          </div>
        </div>
      </div>
    </div>
    <div class="biography">
      <h1>Biography</h1>
      <hr class="grey-line">
      <div class="biography-content">
        <div class="personal-info">
          <h4>PERSONAL INFO</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium possimus officiis, provident, quia pariatur totam eos corrupti quod unde optio natus repellat.</p>
          <p>Address line 1</p>
          <p>Address line 1</p>
          <p>City</p>
          <p>PO57 30DE</p>
        </div>
        <div class="biography-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore saepe, hic amet dolore facilis, voluptatem consequuntur cupiditate molestiae consequatur assumenda itaque praesentium, quisquam nisi odio dicta expedita. Inventore, sunt excepturi?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minima id quaerat obcaecati, nihil nostrum odio atque commodi? Iste eaque amet ipsa vitae quia officiis dignissimos eos libero voluptatibus rem? </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, id dicta perferendis distinctio assumenda non debitis quasi. Nihil odio earum distinctio magnam nostrum perspiciatis placeat vitae minima culpa optio! Illo.</p>
          <div class="biography-columns">
            <div class="biography-columns-left">
              <img class="biography-pictures" src="" alt="a picture of me doing something studious and intersting">
              <h4>MAIN SKILLS</h4>
              <ul>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
              </ul>
            </div>
            <div class="biography-columns-right">
              <img class="biography-pictures" src="" alt="a picture of me doing something studious and intersting">
              <h4>MAIN SKILLS</h4>
              <ul>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
                <li>Filler content</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="experience">
      <h1>Experience</h1>
      <hr class="grey-line">
      
    </div>
  </div>
</div>
