.banner {
  // height: 1046px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
}

.banner-content {
  display: grid;
  grid-template-columns: 1fr;
}

.job-description {
  margin-bottom: 6em;
}

.profile-picture {
  background-color: white;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.2);
}

.middle-left-banner {
  display: grid;
  grid-template-columns: 1fr;
}

.middle-left-left {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3em;
  a {
    color: #595959;
    text-decoration: none;
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
  }
  a:hover {
    // font-weight: bold;
    text-decoration: underline;
  }
}

.middle-left-right {
  background-color: transparent;
  display: flex;
  align-items: center;
  background-color: #F5EBE7;
}

.contact-information-links {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: .5em;
  p {
    margin: 0;
  }
}

.contact-information-link {
  display: flex;
  align-items: center;
}

.contact-information-symbol {
  margin-right: 1em;
}

#highlighted-email-address {
  font-size: 15px;
  font-weight: bold;
  color: $link_salmon;
  letter-spacing: 1.5px;
}

.call-to-arms-box {
  margin: 1em auto;

}

.introduction {
}

.hire-me-container {
  justify-content: center;
}

.hire-me-button {
  background-color: white;
  border: 1px black solid;
  // height: 3em;
  width: 15em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
  padding: 1em;
  h4 {
    margin: 0;
  }
}

.hire-me-button:hover {
  background-color: $link_salmon;
}

@media (min-width: 40em) {
  .banner-content {
    grid-template-columns: 2fr 1fr;
  }

  .middle-left-banner {
    grid-template-columns: 2fr 3fr;
  }

  .profile-picture {
    height: 757px;
    width: 458px;
  }

  .call-to-arms-box {
    margin: auto 70px;
  }

  .hire-me-container {
    justify-content: right;
    margin-left: 37em;
    position: relative;
    left: 2em;
    top: -1em;
  }
}
