.banner {
  // height: 1046px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.banner-content {
  display: grid;
  grid-template-columns: 1fr;
}

.job-description {
  margin-bottom: 2rem;
}

.home-tagline {
  margin-top: 2rem;
}

.profile-picture {
  display: none;
  background-color: white;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.2);
}

.middle-left-banner {
  display: grid;
  grid-template-columns: 1fr;
}

.middle-left-left {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  a {
    color: #595959;
    text-decoration: none;
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
  }
  a:hover {
    // font-weight: bold;
    text-decoration: underline;
  }
}

.middle-left-right {
  background-color: transparent;
  display: flex;
  align-items: center;
  background-color: #F5EBE7;
}

.contact-information-links {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: .5em;
  p {
    margin: 0;
  }
}

.contact-information-link {
  display: flex;
  align-items: center;
}

.contact-information-symbol {
  margin-right: 1em;
}

#highlighted-email-address {
  font-size: 15px;
  font-weight: bold;
  color: $link_salmon;
  letter-spacing: 1.5px;
}

.call-to-arms-box {
  margin: 1em auto;

}

.introduction {
}

.hire-me-container {
  justify-content: center;
}

.hire-me-button {
  background-color: white;
  border: 1px black solid;
  // height: 3em;
  width: 15em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
  padding: 1em;
  h4 {
    margin: 0;
  }
}

.hire-me-button:hover {
  background-color: $link_salmon;
}

@media (min-width: 90rem) {
  .banner-content {
    grid-template-columns: 2fr 1fr;
  }

  .job-description {
    h1 {
      font-size: 5rem;
    }
  }

  .job-description {
    margin-bottom: 3rem;
  }

  .home-tagline {
    margin-top: 3rem;
  }

  .middle-left-banner {
    grid-template-columns: 2fr 3fr;
  }

  .middle-left-left {
    row-gap: 3rem;
  }

  .profile-picture {
    height: 757px;
    width: 458px;
  }

  .call-to-arms-box {
    margin: auto 70px;
  }

  // .hire-me-container {
  //   justify-content: right;
  //   margin-left: 37rem;
  //   position: relative;
  //   left: 2rem;
  //   top: -1rem;
  // }

  .profile-picture {
    display: block;
  }  
  
  .banner {
    padding: 3rem 0;
  }
}

// @media (min-width: 576) { // 36em
  
// }

// @media (min-width: 768) { // 48em
  
// }

// @media (min-width: 992) { // 62em
  
// }

// @media (min-width: 1200) { // 75em

// }
