.personal-info {
  padding-right: 95px;
  justify-content: right;
}

.address-container {
  display: grid;
  grid-template-columns: 1fr;
  p {
    font-weight: bold;
    margin: 0;
  }
}

$address_space: 0em;

#address-line-2 {
  margin-left: $address_space;
}
#city {
  margin-left: 2*$address_space;
}
#post-code {
  margin-left: 3*$address_space;
}

.biography-body {
  li {
    color: #595959;
    text-decoration: none;
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
  }
}

.biography-blurb {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: .5em;
  margin-bottom: 3em;
}

.biography-list {
  display: grid;
  grid-template-columns: 1fr;
  p {
    color: #595959;
    text-decoration: none;
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
  }
}

.biography-columns {
  display: grid;
  grid-template-columns: 1fr;
}

.biography-pictures {
  background-color: $highlight_pink;
  width: 100%;
  margin-bottom: 1rem;
}


@media (min-width: 90rem) {
  .biography-columns {
    grid-template-columns: 1fr 1fr;
  }

  .biography-pictures {
    height: 299px;
    width: 458px;
  }
}
