.footer {
  background-color: $highlight_pink;
}

.footer-container {
  margin: auto 3rem;
}

@media (min-width: 90rem) {
  .footer-container {
    max-width: 87.5rem;
    margin: auto;
    padding-bottom: 3em;
  }
}

// .footer-container {
//   width: 1400px;
// }

.footer-title {
  font-size: 32px;
}
