.footer {
  padding-top: 1rem;
  background-color: $highlight_pink;
}

.footer-container {
  margin: auto 3rem;
}

.footer-over-line {
  display: flex;
  justify-content: space-between;
}

.footer-link-symbols {
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $link_salmon;
  }
}


@media (min-width: 90rem) {
  .footer-container {
    max-width: 87.5rem;
    margin: auto;
    // padding-bottom: 3em;
  }
}


