// colour variables
$link_salmon: #EE7968;
$content_grey: #595959;
$tagline_off_grey: #6B6768;
$background_pink: #FAF2F0;
$highlight_pink: #F5EBE7;

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// .container {
//   width: 100%;
//   padding: 0 15px;
//   margin: 0 auto;
// }

// @media (min-width: 576) { // 36em
//   .container {
//     max-width: 540; // 33.75em
//   }
// }

// @media (min-width: 768) { // 48em
//   .container {
//     max-width: 720; // 45em
//   }
// }

// @media (min-width: 992) { // 62em
//   .container {
//     max-width: 960; // 60em
//   }
// }

// @media (min-width: 1200) { // 75em
//   .container {
//     max-width: 1140; // 71.25em
//   }
// }