// colour variables
$link_salmon: #EE7968;
$content_grey: #595959;
$tagline_off_grey: #6B6768;
$background_pink: #FAF2F0;
$highlight_pink: #F5EBE7;

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

